{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/new_product.js" %}"></script>
{% endblock %}

{% block title %}
    Анкета нового продукта
{% endblock %}

{% block extra_links %}
{% endblock %}

{% block content %}
    <form action="{% url "new_product" %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="header_image_container">
                <img src="{{ business_form_settings.photo.url }}">
            </div>
            <div class="description_container">
                <div class="description_container_header_cap"></div>
                <div class="description_container_header_container">
                    <div class="description_container_header">
                        <div class="description_container_header_text" dir="auto" role="heading" aria-level="1">
                            Анкета нового продукта
                        </div>
                    </div>
                    <div class="description_container_header_body" dir="auto">
                        Здравствуйте, меня зовут Светлана Заболотная, врач-невролог.
                        Вы очень поможете, если ответите на вопросы в анкете. Опрос анонимный.
                        Вопросы касаются вашего здоровья. Благодаря ответам я смогу сделать продукт, который поможет ВАМ
                        и сотням человек
                        улучшить свое здоровье и повысить качество жизни.
                        <br>
                        <br>
                        Время заполнения - 3 минуты
                        <br>
                        <br>
                        Всех, кто ответит на все вопросы, будет ждать приятный подарок от меня в конце 😋🎁
                    </div>
                </div>
            </div>
            <div class="field_list" role="list">
                {% for field in medblogers_form %}
                    {% if field.name == "full_name" %}
                        <div class="field_item_container" role="listitem">
                            <div class="field_inline_item_container">
                                <div class="field_item_label_container">
                                    <div class="field_item_label">
                                        <div class="field_item_label_text">
                                            <b>ПОДАРОК ДЛЯ ТЕХ, КТО ДОШЁЛ ДО ЭТОГО ВОПРОСА!</b>
                                            Оставьте свои контактные данные, если хотите со мной <b>созвониться на
                                            30</b>
                                            минут. Я проведу мини-интервью, задам более детальные вопросы, в свою
                                            очередь подарю вам <b>лекцию на выбор про профилактику мигрени или на тему
                                            «мигрень и беременность: от подготовки до лактации»</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="field_item_container" role="listitem">
                        <div class="field_inline_item_container">
                            <div class="field_item_label_container">
                                <div class="field_item_label">
                                    <div class="field_item_label_text">
                                        {% if field.name != "policy_agreement" %}
                                            {{ field.label }}
                                        {% else %}
                                            Согласен с
                                            <a href="https://docs.google.com/document/d/1IvK-DwDreWA1gHhnkZbvcrR5hBvjyit-z2MztwhlOSk/edit?usp=sharing"
                                               target="_blank">политикой обработки персональных данных</a>
                                        {% endif %}
                                        {% if field.field.required %}
                                            <span class="required_star">*</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_input_container">
                                <div class="field_item_input">
                                    <div class="field_item_input_inline">
                                        <div class="input_container">
                                            <div class="radio-button-container">
                                                {% if field.name == "income" or field.name == "bought_products" or field.name == "health_satisfaction" or field.name == "source" or field.name == "age" %}
                                                    {% for value, label in field.field.choices %}
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input"
                                                                   id="{{ field.name }}_{{ value }}"
                                                                   name="{{ field.name }}" value="{{ value }}"
                                                                   {% if field.value == value %}checked{% endif %}>

                                                            <label class="radio-button__label"
                                                                   for="{{ field.name }}_{{ value }}">
                                                                <span class="radio-button__custom"></span>
                                                                {{ label }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                {% elif field.name == "policy_agreement" %}
                                                    {{ field }}
                                                    <div class="radio-button-container">
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input" id="radio"
                                                                   name="radio-group">
                                                            <label class="radio-button__label" for="radio">
                                                                <span class="radio-button__custom"></span>
                                                                да
                                                            </label>
                                                        </div>
                                                    </div>
                                                {% elif field.name == "has_bought_products" %}
                                                    {% for value, label in field.field.choices %}
                                                        <div class="many-checkbox-button">
                                                            <input type="checkbox" class="many-checkbox-button__input"
                                                                   id="{{ field.name }}_{{ value }}"
                                                                   name="{{ field.name }}" value="{{ value }}"
                                                                   {% if field.value == value %}checked{% endif %}>

                                                            <label class="many-checkbox-button__label"
                                                                   for="{{ field.name }}_{{ value }}">
                                                                <span class="many-checkbox-button__custom"></span>
                                                                {{ label }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                                <div class="line"></div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_warning_container">
                                <div class="field_item_warning">
                                    <img src="{% static "img/warning.svg" %}">
                                    <span class="warning_text">Это обязательный вопрос.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="buttons_container">
                <div class="buttons_inline_container">
                    <div class="submit_container">
                        <div class="submit_button" role="button">
                        <span class="submit_text_container">
                            <span class="submit_text">
                                Отправить
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="clear_container">
                        <div class="clear_inline_container" role="button">
                            <span class="clear_button">
                                <span class="clear_button_text">Очистить форму</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}