.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 90vw;
    width: 640px;
}

.inline_container {
    word-break: break-word;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    position: relative;
}

@media (max-width: 480px) {
    .inline_container {
        max-width: 100%;
        margin: auto;
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}